@import "../Style_variables.sass"

@media (min-width: 1px)
    .slider_container
        .slider_window
            width: 65%
            min-height: 200px
            .slider_tape
                height: 200px
                display: flex
                .tape_word_container
                    height: 200px
                    .item_word, .item_word_translation
                        font-size: 1.8rem
    .tape_word_container
        button
            min-width: 85%
            min-height: 40px
            font-size: 1.2rem

@media (min-width: 430px)
    .slider_container
        position: relative
        width: 100%
        min-height: 350px
        margin: 40px 0 40px 0
        background-color: rgb(244, 244, 244)
        border-radius: 7px
        box-shadow: 0px 10px 12px 8px rgb(198, 198, 198)

@media (min-width: 1024px)
    .tape_word_container
        button
            min-width: 55%
            min-height: 45px

@media (min-width: 1200px)
    .slider_container
        .slider_window
            width: 50%
            min-height: 280px
            .slider_tape
                .tape_word_container
                    .item_word, .item_word_translation
                        font-size: 1.8rem
                    button
                        font-size: 1.5rem
 
.slider_container
    position: relative
    min-height: 350px
    margin: 70px 0 40px 0
    background-color: rgba(244, 244, 244, 0.4)
    border-radius: 7px
    box-shadow: 0px 10px 12px 8px rgba(198, 198, 198, 0.5)
    .slider_window
        position: absolute
        margin: 0 auto
        top: 50%
        left: 50%
        transform: translate(-50%,-65%)
        min-height: 200px
        background-color: $textWhite
        border-radius: 7px
        overflow: hidden
        .slider_tape
            height: 200px
            display: flex
            .tape_word_container
                height: 200px      
    .arrow_container
        position: absolute
        top: 78%
        left: 50%
        transform: translate(-50%,0)
        justify-content: center
        display: flex
        width: 40%
        max-height: 50px
        img:hover
            cursor: pointer

.tape_word_container
    width: 100%
    height: 100%
    border: solid
    border-color: $peach
    background-color: $textWhite
    position: relative
    .item_word
        width: 100%
        position: absolute
        top: 25%
        left: 50%
        transform: translate(-50%,-50%)
        font-weight: 500
    button, .tape_word_block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    button
        border: none
        border-radius: 6px
        background-color: lightgrey
        transition-duration: 0.5s
        color: $slateGray
    button:hover
        background-color: $darkGrey
        color: $lightBlue
    .item_word_translation
        width: 100%
        position: absolute
        top: 75%
        left: 50%
        transform: translate(-50%,-50%)

.not_displayed
    display: none