.slider_container {
  width: 100%;
  min-height: 300px;
  position: relative;
  margin: 40px 0 40px 0;
  background-color: rgb(244, 244, 244);
  border-radius: 7px;
  box-shadow: 0px 10px 12px 8px rgb(198, 198, 198);
}
.slider_container .slider_window {
  width: 60%;
  min-height: 200px;
  background-color: yellow;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  overflow: hidden;
}
.slider_container .slider_window .slider_tape {
  height: 200px;
  display: flex;
}
.slider_container .slider_window .slider_tape .tape_word_container {
  height: 200px;
}
.slider_container .arrow_container {
  justify-content: center;
  display: flex;
  width: 40%;
  max-height: 50px;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, 0);
}

.tape_word_container {
  width: 100%;
  height: 100%;
  border: solid;
  border-color: rgb(0, 238, 255);
}