.dictionary-menu {
 display: flex;
 align-items: center;
 gap: 25px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dictionary-menu__btn {
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: lightskyblue;
  border-radius: 8px;
}