.dictionary-menu {
  width: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.dictionary-menu__btns-wrap {
  display: flex;
  gap: 15px;
}

.dictionary-menu__btn {
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: lightskyblue;
  border-radius: 8px;
}

.dictionary-menu__stat {
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  border: 1px solid lightskyblue;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}