@import "../Style_variables.sass"

@media (min-width: 1px) and (max-width: 429px)
    .words_list_block
        grid-template-columns: repeat (4, 1fr)
        grid-template-rows: repeat (2, 1fr)
        row-gap: 2px
        .foreign_word_container
            grid-column-start: 0
            grid-column-end: 2
            border-bottom: solid 2px $mainBlack
            border-radius: 5px 5px 0 5px
        .translation_container
            grid-column-start: 2
            grid-column-end: 5
            border-bottom: solid 2px $mainBlack
        .star_button
            grid-column-start: -1
            grid-column-end: 3
        .delete_button
            grid-column-start: 3
            grid-column-end: 5
    .nested_element
        font-size: 1.1rem
        
  
@media (min-width: 430px)
    .words_list_block
        grid-template-columns: 0.25fr 0.45fr 0.15fr 0.15fr
        grid-template-rows: 1fr
        .foreign_word_container
            border-radius: 5px
    .nested_element
        font-size: 1.1rem
@media (min-width: 768px)
    .words_list_block
        grid-template-columns: 0.25fr 0.55fr 0.1fr 0.1fr
    .nested_element, .sec_nested
        font-size: 1.4rem

@media (min-width: 1024px)
    .nested_element, .sec_nested
        font-size: 1.6rem

@media (min-width: 1400px)

.words_list_block
    margin-top: 20px
    min-height: 45px
    display: grid
    background-color: rgb(189, 189, 189)
    border-radius: 5px
    .foreign_word_container
        background-color: $mainBlack
        min-height: 45px
        font-weight: 600
        color: $mainBlue
        position: relative
        .nested_element, .sec_nested
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
    .translation_container
        width: 100%
        position: relative
        .sec_nested
            width: 100%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
.button_container
    div
        height: 100%
        position: relative
        img
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
        img:hover
            cursor: pointer
.favorite_word
    color: yellow

.img_container
    min-height: 45px