.word_container {
  background-color: white;
  min-height: 45px;
  border-radius: 5px;
  align-items: center;
  max-width: 920px;
  margin: 10px auto 0 auto;
}

.words_container {
  min-height: 45px;
}

.word_line {
  align-items: center;
}

.foreign_word_container {
  background-color: black;
  min-height: 40px;
  font-weight: 600;
  color: rgb(0, 238, 255);
  border-radius: 5px;
  position: relative;
}

.nested_element {
  position: relative;
  height: 40px;
}

.word_category {
  position: relative;
  width: 100%;
}

.translation_container {
  width: 100%;
  position: relative;
}

.sec_nested {
  padding-top: 9px;
}

.delete_button :hover {
  cursor: pointer;
}