.words_list_block {
  min-height: 45px;
}
.words_list_block .word_container {
  background-color: rgb(232, 232, 232);
  min-height: 45px;
  border-radius: 5px;
  margin: 8px auto 8px auto;
  text-align: center;
}
.words_list_block .word_container .foreign_word_container {
  background-color: rgb(33, 33, 33);
  min-height: 45px;
  font-weight: 600;
  color: rgb(0, 238, 255);
  border-radius: 5px;
  position: relative;
}
.words_list_block .nested_element {
  position: relative;
  height: 40px;
}

.word_category {
  position: relative;
  width: 100%;
}

.translation_container {
  width: 100%;
  position: relative;
}

.sec_nested {
  padding-top: 9px;
}

.button_container div {
  height: 100%;
  position: relative;
}
.button_container div img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button_container div img:hover {
  cursor: pointer;
}

.favorite_word {
  color: yellow;
}