.word_container
    background-color: white
    min-height: 45px
    border-radius: 5px
    align-items: center
    max-width: 920px
    margin: 10px auto 0 auto
.words_container
    min-height: 45px
.word_line
    align-items: center
.foreign_word_container
    background-color: black
    color: rgb(0, 238, 255)
    min-height: 45px
    border-radius: 5px
.delete_button
    :hover
        cursor: pointer