.study_field_wrapper
    max-width: 960px
    min-height: 450px
    margin-top: 20px
    border-radius: 5px
    background-color: rgb(240, 240, 240)

.words_list_wrapper
    padding-top: 15px

.add_word_block
    margin-top: 20px
    padding-top: 20px
    min-height: 80px
    border-radius:5px
    background-color: black
    font-size: 18px
    color: white
.input_form
    padding: 20px 0px 30px 10px
    max-width: 850px
    margin: 0 auto
    input
        width: 100%
        appearance: none
        border: solid
        outline: none
        padding: 0
        text-align: center
    div
        padding: 0
    input:focus
        border-color: rgb(0, 238, 255)
    select
        height: 100%
        width:100%
        appearance: none
        outline: none
        border: solid
        text-align: center
    select:focus
        border-color: rgb(0, 238, 255)
    button
        height: 100%
        width: 100%
        appearance: none
        border: solid
        padding: 0
.empty_notification
    background-color: white
    margin: 0 auto
    font-weight: 600
    font-size: 19px
    min-height: 45px
    max-width: 920px
    border-radius: 10px
    border: solid
    border-color: rgb(0, 238, 255)

