@media (min-width: 1px) {
  .study_wrapper {
    max-width: 90%;
  }
  .study_wrapper .add_word_block {
    font-size: 1.2rem;
  }
  .study_wrapper .add_word_block .input_form {
    font-size: 1.2rem;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper input {
    display: block;
    max-width: 70%;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper select {
    display: block;
    max-width: 70%;
  }
  .study_wrapper .add_word_block div button {
    margin-top: 20px;
    height: 100%;
    width: 50%;
  }
  .study_mode_btn button {
    width: 200px;
    height: 40px;
    border-radius: 7px;
    font-size: 1.2rem;
  }
}
@media (min-width: 430px) {
  .study_wrapper {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .study_wrapper {
    max-width: 70%;
  }
  .study_wrapper .add_word_block .input_form {
    font-size: 1.2rem;
  }
  .study_wrapper .add_word_block .input_form .add_word_description {
    font-size: 1.6rem;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper {
    max-width: 90%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper input {
    display: block;
    max-width: 90%;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper select {
    display: block;
    max-width: 90%;
  }
  .study_wrapper .add_word_block div button {
    margin-top: 20px;
    height: 100%;
    width: 40%;
  }
  .study_mode_btn button {
    width: 230px;
    height: 50px;
    border-radius: 7px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .study_wrapper {
    max-width: 60%;
  }
  .study_wrapper .add_word_block .input_form {
    font-size: 1.8rem;
  }
  .study_wrapper .add_word_block .input_form .add_word_description {
    font-size: 2.1rem;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper {
    max-width: 90%;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper input {
    display: block;
    max-width: 95%;
  }
  .study_wrapper .add_word_block .input_form .input_fields_wrapper select {
    display: block;
    max-width: 95%;
  }
}
.study_wrapper {
  margin: 50px auto 0 auto;
}
.study_wrapper .add_word_block .input_form .input_fields_wrapper {
  margin: 0 auto;
  display: grid;
}
.study_wrapper .add_word_block .input_form .input_fields_wrapper input {
  display: block;
  margin: 0 auto;
}
.study_wrapper .add_word_block .input_form .input_fields_wrapper select {
  display: block;
  margin: 0 auto;
}

.study_wrapper .search_results_header {
  background-color: white;
  margin-top: 50px;
}
.study_wrapper .search_results_header .Row .col {
  text-align: center;
}

.words {
  margin: 40px 0 40px 0;
  padding: 10px 5px 10px 5px;
  background-color: rgb(244, 244, 244);
  border-radius: 7px;
  box-shadow: 0px 10px 12px 8px rgb(198, 198, 198);
}

.add_word_block {
  padding: 15px 0 0 0;
  border-radius: 7px;
  background-color: rgb(82, 75, 70);
  font-size: 18px;
  color: rgb(230, 230, 230);
  box-shadow: 0px 10px 12px 8px rgb(198, 198, 198);
}
.add_word_block .input_form {
  padding: 0px 0px 30px 0px;
  margin: 0 auto;
  text-align: center;
}
.add_word_block .input_form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid;
  border-color: rgb(82, 75, 70);
  min-height: 40px;
  outline: none;
  padding: 0;
  text-align: center;
  width: 100%;
}
.add_word_block .input_form input:focus {
  border-color: rgb(0, 238, 255);
}
.add_word_block .input_form select {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: solid;
  border-color: rgb(82, 75, 70);
  text-align: center;
}
.add_word_block .input_form select:focus {
  border-color: rgb(0, 238, 255);
}
.add_word_block .input_form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-height: 40px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  padding: 0;
}
.add_word_block div {
  padding: 0;
}

.empty_notification {
  background-color: rgb(237, 237, 237);
  margin: 0 auto;
  font-weight: 600;
  font-size: 19px;
  min-height: 48px;
  max-width: 920px;
  border-radius: 7px;
  border: solid;
  border-color: rgb(0, 238, 255);
  position: relative;
}
.empty_notification div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.study_mode_btn {
  margin: 50px auto 0 auto;
}
.study_mode_btn button {
  font-weight: 500;
  box-shadow: 0px 4px 8px 4px rgb(198, 198, 198);
  transition-duration: 0.5s;
}
.study_mode_btn button:hover {
  background-color: rgb(51, 51, 51);
  color: rgb(0, 238, 255);
}