@import "../Style_variables.sass"

@media (min-width: 1px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 90%
        .add_word_block
            margin: 60px auto 0 auto
            font-size: 1.2rem
            .input_form
                margin: 0 auto
                font-size: 1.2rem
                .input_fields_wrapper
                    margin: 20px auto 0 auto
                    grid-template-rows: 1fr 1fr 1fr
                    grid-template-columns: 1fr
                    gap: 5px
                    input
                        min-height: 40px
                        max-width: 70%
                    select
                        min-height: 40px
                        max-width: 70%
            div
                button
                    margin-top: 20px
                    min-height: 30px
                    width: 50%
        .words
            .empty_notification
                min-height: 55px
                background-color: $lightBlue
                font-size: 1.4rem
    .study_mode_btn
        button
            width: 200px
            min-height: 55px
            border-radius: 7px
            font-size: 1.2rem
                
@media (min-width: 430px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 80%
    .study_mode_btn
        button
            width: 220px
            min-height: 60px
            border-radius: 7px
            font-size: 1.4rem
        
@media (min-width: 768px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 70%
        .add_word_block
            .input_form
                margin: 0 auto
                font-size: 1.2rem
                .add_word_description
                    font-size: 1.6rem
                .input_fields_wrapper
                    margin: 30px auto 0 auto
                    max-width: 90%
                    grid-template-rows: 1fr
                    grid-template-columns: 1fr 1fr 1fr
                    gap: 0
                    input
                        max-width: 90%
                    select
                        max-width: 90%
            div
                button
                    margin-top: 20px
                    min-height: 35px
                    width: 25%
    .study_mode_btn
        button
            width: 260px
            min-height: 60px
            border-radius: 7px
            font-size: 1.5rem
       
@media (min-width: 1200px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 60%
        .words
            .empty_notification
                min-height: 65px
                font-size: 1.8rem
        .add_word_block
            .input_form
                margin: 0 auto
                font-size: 1.8rem
                .add_word_description
                    font-size: 2.1rem
                .input_fields_wrapper
                    margin: 30px auto 0 auto
                    max-width: 90%
                    input
                        max-width: 95%
                    select
                        max-width: 95%
    
@media (min-width: 1400px)
    .study_wrapper
        margin: 50px auto 0 auto
        .add_word_block
            .input_form
                margin: 20px auto 0 auto
                .input_fields_wrapper
                    margin: 30px auto 0 auto
                    display: grid
                    input
                        margin: 0 auto
                    select
                        margin: 0 auto

.study_wrapper
    .add_word_block
        padding: 15px 0 0 0
        border-radius: 7px
        background-color: $darkBlue
        font-size: 18px
        color: $textWhite
        box-shadow: 0px 10px 12px 8px rgb(198, 198, 198)
        .input_form
            padding: 0px 0px 30px 0px
            .input_fields_wrapper
                display: grid
                input
                    display: block
                    appearance: none
                    border: solid
                    border-color: $darkBlue
                    background-color: $backgroundWhite
                    outline: none
                    padding: 0
                    text-align: center
                    width: 100%
                    transition-duration: 0.5s
                    margin: 0 auto
                input::placeholder
                    color: $darkGrey
                input:focus
                    border-color: $mainBlue
                select
                    display: block
                    height: 100%
                    width: 100%
                    appearance: none
                    outline: none
                    border: solid
                    border-color: $darkBlue
                    background-color: $backgroundWhite
                    color: $darkGrey
                    text-align-last: center
                    transition-duration: 0.5s
                    margin: 0 auto
                select:focus
                    border-color: $mainBlue
            div    
                button
                    appearance: none
                    border: none
                    border-radius: 7px
                    background-color: $backgroundWhite
                    color: black
                    font-weight: 500
                    padding: 0
                    transition-duration: 0.5s
                button:hover
                    background-color: $lightGrey
        .search_results_header
            background-color: white
            margin-top: 50px
            .Row
                .col
                    text-align: center

.words
    margin: 40px 0 40px 0
    padding: 10px 5px 10px 5px
    background-color: $backgroundWhite
    border-radius: 7px

    div
        padding: 0  
.empty_notification
    margin: 0 auto
    font-weight: 600
    max-width: 920px
    border-radius: 7px
    border: solid
    border-color: rgb(0, 238, 255)
    position: relative
    div
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%

.study_mode_btn
    margin: 50px auto 0 auto
    button
        padding: 5px
        border: none
        font-weight: 500
        box-shadow: 0px 4px 8px 4px rgb(198, 198, 198)
        transition-duration: 0.5s
        color: black
        background-color: $backgroundWhite
    button:hover
        background-color: $ligthBlack
        color: $mainBlue
