@import "../Style_variables.sass"

@media (min-width: 1px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 90%
        .add_word_block
            margin: 60px auto 0 auto
            font-size: 1.2rem
            .input_form
                margin: 0 auto
                font-size: 1.2rem
                .input_fields_wrapper
                    margin: 20px auto 20px auto
                    grid-template-rows: 1fr 1fr 1fr
                    grid-template-columns: 1fr
                    gap: 5px
                    input
                        min-height: 40px
                        width: 75%
                    select
                        min-height: 40px
                        width: 75%
            div
                button
                    min-height: 40px
                    width: 180px
        .words
            .empty_notification
                min-height: 55px
                background-color: $lightBlue
                font-size: 1.4rem
    .study_mode_btn
        button
            width: 200px
            min-height: 55px
            border-radius: 7px
            font-size: 1.2rem
                
@media (min-width: 430px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 80%
    .study_mode_btn
        button
            width: 180px
            min-height: 60px
            border-radius: 7px
            font-size: 1.4rem
        
@media (min-width: 768px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 70%
        .add_word_block
            .input_form
                margin: 0 auto
                font-size: 1.2rem
                .add_word_description
                    font-size: 1.6rem
                .input_fields_wrapper
                    margin: 30px auto 30px auto
                    max-width: 90%
                    grid-template-rows: 1fr
                    grid-template-columns: 1fr 1fr 1fr
                    gap: 0
                    input
                        width: 85%
                    select
                        width: 85%
            div
                button
                    min-height: 45px
                    width: 200px
    .study_mode_btn
        button
            width: 260px
            min-height: 60px
            border-radius: 7px
            font-size: 1.5rem
       
@media (min-width: 1200px)
    .study_wrapper
        margin: 50px auto 0 auto
        max-width: 60%
        .words
            .empty_notification
                min-height: 65px
                font-size: 1.8rem
        .add_word_block
            .input_form
                margin: 0 auto
                font-size: 1.8rem
                .add_word_description
                    font-size: 2.1rem
                .input_fields_wrapper
                    margin: 30px auto 30px auto
                    max-width: 90%

@media (min-width: 1400px)
    .study_wrapper
        margin: 50px auto 0 auto
        .add_word_block
            .input_form
                margin: 20px auto 0 auto
                .input_fields_wrapper
                    margin: 30px auto 30px auto
                    display: grid

.study_wrapper
    .add_word_block
        border-radius: 7px
        background-color: $darkGrey
        color: $textWhite
        box-shadow: 0px 10px 12px 8px rgb(198, 198, 198)
        .input_form
            padding: 35px 0px 35px 0px
            .add_word_description
                margin: 0
            .input_fields_wrapper
                display: grid
                input
                    display: block
                    margin: 0 auto
                    appearance: none
                    outline: none
                    border-style: solid
                    border-width: 2px
                    border-color: $darkGrey
                    background-color: $backgroundWhite
                    text-align: center
                    transition-duration: 0.5s
                input::placeholder
                    color: $darkGrey2
                input:focus
                    border-color: $peach
                select
                    display: block
                    margin: 0 auto
                    height: 100%
                    appearance: none
                    outline: none
                    border-style: solid
                    border-width: 2px
                    border-color: $darkGrey
                    background-color: $backgroundWhite
                    color: $darkGrey2
                    text-align-last: center
                    transition-duration: 0.5s
                select:focus
                    border-color: $peach
            div    
                button
                    padding: 0
                    appearance: none
                    border: none
                    border-radius: 7px
                    background-color: $lightBlue
                    color: $slateGray
                    font-weight: 600
                    transition-duration: 0.5s
                button:hover
                    background-color: $pastelYellow
    .words
        margin: 40px 0 40px 0
        padding: 10px 5px 10px 5px
        
    div
        padding: 0  
.empty_notification
    margin: 0 auto
    font-weight: 600
    max-width: 920px
    border-radius: 7px
    border: solid
    border-color: rgb(0, 238, 255)
    position: relative
    div
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%

.study_mode_btn
    margin: 50px auto 0 auto
    button
        padding: 5px
        border: none
        font-weight: 500
        box-shadow: 0px 4px 8px 4px rgb(198, 198, 198)
        transition-duration: 0.5s
        color: black
        background-color: $backgroundWhite
    button:hover
        background-color: $darkGrey
        color: $peach
