.page-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.words-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.entities-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}