.wrapper {
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 15px 0px 20px -1px rgb(184, 184, 184);
}

.app_work_field {
  min-height: 400px;
  margin-top: 20px;
  border: solid;
  border-color: black;
  border-width: 4px;
}