$slateGray: rgb(56, 75, 82)
$darkGrey: rgb(93, 117, 129)
$peach: rgb(245, 180, 145)
$textWhite: rgb(230, 230, 230)
$backgroundWhite: rgb(237, 237, 237)
$darkBlue: rgb(93, 117, 129)
$brownText: rgb(84, 69, 60)
$lightGrey: rgb(194, 194, 194)
$wordLineBg: rgb(245, 245, 245)
$lightBlue: rgb(216, 230, 239)
$darkGrey2: rgb(70,70,70)
$pastelYellow: rgb(232, 222, 181)