$mainBlack: rgb(56, 75, 82)
$ligthBlack: rgb(93, 117, 129)
$mainBlue: rgb(245, 180, 145)
$textWhite: rgb(230, 230, 230)
$backgroundWhite: rgb(237, 237, 237)
$darkBlue: rgb(93, 117, 129)
$brownText: rgb(84, 69, 60)
$lightGrey: rgb(194, 194, 194)
$wordLineBg: white
$lightBlue: rgb(216, 230, 239)