.app_footer_wrapper
    max-width: 960px
    margin: 0 auto
    margin-top: 10px
.app_footer_container
    background-color: rgb(215, 215, 215)
    min-height: 250px
    color: rgb(180, 180, 180)
    .app_footer_disclaimer
        padding: 40px 0 40px 0
        border-bottom: solid
        border-color: rgb(199, 199, 199)
    .app_footer_contacts
        padding: 20px 0