.footer_container
    margin-top: 50px
    border-radius: 7px 7px 0px 0px
    background-color: rgb(215, 215, 215)
    color: rgb(180, 180, 180)
    .app_footer_disclaimer
        padding: 40px 0 40px 0
        border-bottom: solid
        border-color: rgb(199, 199, 199)
    .contacts_wrapper
        .col
            text-align: left
            padding: 25px 0px 25px 0px