@import "../Style_variables.sass"

.search_panel_block
    background-color: $mainBlack
    color: $textWhite
    border-radius: 7px 7px 0 0
    box-shadow: 0px 10px 12px 8px rgb(198, 198, 198)
    .search_input_block
        padding-top: 20px
        margin: 0 auto
        font-size: 20px
        max-width: 95%
        input
            background-color: $backgroundWhite
            min-height: 40px
            margin: 20px auto 0 auto
            padding-left: 20px
            display: block
            width: 97%
            border: solid
            border-color: $mainBlack
            outline: none 
        input:focus
            border-color: $mainBlue
    .filter_block
        margin-top: 20px
        font-size: 18px
        padding-bottom: 25px
.filter
    select
        margin-top: 10px
        width: 200px
        min-height: 40px
        text-align: center
        border: solid
        border-color: $mainBlack
        outline: none
        background-color: $backgroundWhite
    select:focus
        border-color: rgb(0, 238, 255)