.search_panel_block {
  margin-top: 50px;
  background-color: rgb(33, 33, 33);
  color: rgb(230, 230, 230);
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0px 10px 12px 8px rgb(198, 198, 198);
}
.search_panel_block .search_input_block {
  padding-top: 20px;
  margin: 0 auto;
  font-size: 20px;
  max-width: 95%;
}
.search_panel_block .search_input_block input {
  background-color: rgb(237, 237, 237);
  min-height: 40px;
  margin: 20px auto 0 auto;
  padding-left: 20px;
  display: block;
  width: 97%;
  border: solid;
  border-color: rgb(33, 33, 33);
  outline: none;
}
.search_panel_block .search_input_block input:focus {
  border-color: rgb(0, 238, 255);
}
.search_panel_block .filter_block {
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 25px;
}

.filter select {
  margin-top: 10px;
  width: 200px;
  min-height: 40px;
  text-align: center;
  border: solid;
  border-color: rgb(33, 33, 33);
  outline: none;
  background-color: rgb(237, 237, 237);
}
.filter select:focus {
  border-color: rgb(0, 238, 255);
}