.filter-panel {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: lightgray;
  border-radius: 6px;
}

.filter-panel__search-input {
  padding: 5px 10px 5px 10px;
  background-color:white;
}

.filter-panel__filters-wrap {
  display: flex;
  gap: 15px;
}