.study-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px; 
}
.study-workfield {
  display: flex;
  gap: 25px;
}
.study-menu { 
  width: 20%;
  min-height: 150px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--light-gray);
}
.study-work-window {
  width: 80%;
}