.headers-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-left {
  padding: 0px 0px 10px 0px;
  font-size: 18px;
}
.header-right {
  display: flex;
  gap: 5px;
}
.page-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}