
.about_wrapper
    height: 170px
    display: flex
    font-size: 17px
    background-color: black
    color: white
    width: 100%
    align-items: center
    border-radius: 5px
    .about_text_container
        width: 70%
    
    .about_img_container
        width: 100px
        height: 120px
        position: relative
        display: flex
        justify-content: center
        img
            position: absolute
            top: 50%
            transform: translate(0, -50%)

.item_wrapper
    padding: 40px 0 20px 0

            
            
        