html {
  --dark-blue: rgb(56, 75, 82);
  --pale-dark-blue: rgba(56, 75, 82, 0.5);
  --main-orange: rgba(232, 157, 72, 1);
  --pale-orange: rgba(232, 157, 72, 0.5);
  --main-gold: rgb(242, 190, 0);
  --light-gray: rgb(228, 228, 228);

  --entities-gray: rgb(235, 235, 235);
  --warning-red: rgb(165, 20, 20);

  --modal-overlay: rgba(150, 150, 150, 0.5);
  --standard-btn-color: rgb(78, 120, 136);
}