@media (min-width: 1px) {

  .nav-block-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    background-color: var(--dark-blue);
  }

  .nav-block {
    
    display: flex;
    justify-content: space-between;
  }

  .nav-btn {
    font-size: 12px;
    height: 30px;
    width: 100px;
    padding: 0 0 5px 0;
    border-bottom: 2px solid var(--dark-blue);
    color: rgb(230, 230, 230);
    background-color: var(--dark-blue);
  }

  .active {
    border-bottom: 2px solid var(--main-orange);
    color: var(--main-orange);
  }
  
}

@media (min-width: 450px) {
  
  .nav-block-wrap {
    width: 100%;
    padding: 10px 0 0 0;
  }
  
  .nav-btn {
    font-size: 16px;
    height: 30px;
    width: 150px;
  }

  .nav-block {
    width: 500px;
  }
}