.header_wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.clicked_btn {
  color: rgb(0, 238, 255);
}

.inactive_btn {
  color: white;
}

h1 {
  padding-top: 40px;
}

.app_header {
  margin: 0 auto;
  background-color: black;
  color: white;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 15px 0px 20px -1px rgb(184, 184, 184);
}

.app_nav {
  height: 70px;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 15px 0px 20px -1px rgb(184, 184, 184);
}
.app_nav .col {
  padding-top: 20px;
}
.app_nav .col:hover {
  color: rgb(0, 238, 255);
  cursor: pointer;
}