@media (min-width: 1px) {
  .header_block {
    max-width: 100%;
  }
  .header_block .header_logo_block {
    min-height: 70px;
    margin-bottom: 5px;
  }
  .header_block .header_logo_block h1 {
    font-size: 2rem;
  }
  .header_block .nav_block {
    min-height: 70px;
    font-size: 1.1rem;
  }
  .header_block .nav_block .nav_btn_cont button {
    min-width: 120px;
  }
}
@media (min-width: 430px) {
  .header_block {
    max-width: 95%;
  }
  .header_block .header_logo_block {
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 6px rgb(198, 198, 198);
  }
  .header_block .header_logo_block h1 {
    font-size: 2.5rem;
  }
  .header_block .nav_block {
    min-height: 90px;
    font-size: 1.5rem;
  }
  .header_block .nav_block .nav_btn_cont button {
    min-width: 180px;
  }
}
@media (min-width: 768px) {
  .header_block {
    max-width: 90%;
  }
  .header_block .header_logo_block {
    min-height: 120px;
  }
  .header_block .header_logo_block h1 {
    font-size: 2.8rem;
  }
  .header_block .nav_block .nav_btn_cont button {
    min-width: 200px;
  }
}
@media (min-width: 1024px) {
  .header_block {
    max-width: 85%;
  }
  .header_block .header_logo_block h1 {
    font-size: 3rem;
  }
  .header_block .nav_block {
    min-height: 90px;
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .header_block {
    max-width: 75%;
  }
}
@media (min-width: 1400px) {
  .header_block {
    max-width: 65%;
  }
  .header_block .header_logo_block h1 {
    font-size: 3.4rem;
  }
}
.header_block {
  margin: 0 auto;
}
.header_block .header_logo_block {
  background-color: rgb(33, 33, 33);
  color: rgb(230, 230, 230);
  border-radius: 0px 0px 3px 3px;
  position: relative;
}
.header_block .header_logo_block h1 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}
.header_block .nav_block {
  background-color: rgb(33, 33, 33);
  border-radius: 3px 3px 7px 7px;
  box-shadow: 0px 8px 15px 8px rgb(198, 198, 198);
  color: rgb(230, 230, 230);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header_block .nav_block .nav_btn_cont {
  position: relative;
}
.header_block .nav_block .nav_btn_cont button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border: 1px solid;
  border-color: ligthgrey;
  border-radius: 6px;
  transition-duration: 0.5s;
}
.header_block .nav_block .nav_btn_cont button:hover {
  color: rgb(0, 238, 255);
  cursor: pointer;
  background-color: rgb(51, 51, 51);
}

.active_btn {
  color: rgb(0, 238, 255);
  border-color: rgb(0, 238, 255);
  background-color: rgb(51, 51, 51);
}

.inactive_btn {
  color: rgb(230, 230, 230);
  background-color: rgb(33, 33, 33);
}